<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Game</title>
</head>
<body>
    <h2>Add New Game</h2>
    <form method="post" action="/add_game">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required><br>

        <label for="homeTeam">Home Team:</label>
        <input type="text" id="homeTeam" name="homeTeam" required><br>

        <label for="homeCity">Home City:</label>
        <input type="text" id="homeCity" name="homeCity" required><br>

        <label for="awayTeam">Away Team:</label>
        <input type="text" id="awayTeam" name="awayTeam" required><br>

        <label for="awayCity">Away City:</label>
        <input type="text" id="awayCity" name="awayCity" required><br>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required><br>

        <label for="outcome">Outcome:</label>
        <input type="text" id="outcome" name="outcome" required><br>

        <input type="submit" value="Add Game">
      <button id="back-button">Back to Main Page</button>
    </form>
  <script>
      // JavaScript function to handle the back button click
      document.getElementById("back-button").addEventListener("click", function () {
          // Navigate back to the main page ("/")
          window.location.href = "/";
      });
  </script>
</body>
</html>
