<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseball Tracker</title>
</head>
<body>
    <h1>Welcome to the Baseball Tracker Website</h1>

    <!-- View Stats Section -->
  <h2>View Data</h2>
  <button id="view-all-stats-button">All Lists</button>
  <button id="view-game-stats-button">Game List</button>
  <button id="view-team-stats-button">Team List</button>
  <button id="view-player-stats-button">Player List</button>
  
  
  </div>
  <!-- Add New Game Section -->
  <h2>Add Data</h2>
  <button id="add-game-button">Add Game</button>
  <button id="add-team-button">Add Team</button>
  <button id="add-player-button">Add Player</button>

  <script>
      // JavaScript function to handle the "Add Game" button click
      document.getElementById("add-game-button").addEventListener("click", function() {
          // Navigate to the "Add New Game" page (add_game.html)
          window.location.href = "/add_game.html";
      });
    document.getElementById("add-team-button").addEventListener("click", function() {
        // Navigate to the "Add New Game" page (add_game.html)
        window.location.href = "/add_team.html";
    });
    document.getElementById("add-player-button").addEventListener("click", function() {
        // Navigate to the "Add New Game" page (add_game.html)
        window.location.href = "/add_player.html";
    });
  </script>

    <script>
        // JavaScript function to handle the "View Stats" button click
        document.getElementById("view-game-stats-button").addEventListener("click", function() {
          window.location.href = "/game_stats.html";
        });
      // JavaScript function to handle the "View Stats" button click
      document.getElementById("view-player-stats-button").addEventListener("click", function() {
        window.location.href = "/player_stats.html";
      });
      // JavaScript function to handle the "View Stats" button click
      document.getElementById("view-team-stats-button").addEventListener("click", function() {
          // Show the view-stats-content when the button is clicked
        window.location.href = "/team_stats.html";
      });
      // Function to open the All Stats page
      document.getElementById("view-all-stats-button").addEventListener("click", function () {
          window.location.href = "/all_stats.html";
      });


        // Function to display game stats as a table
        function displayGameStats() {
            // Logic for displaying game stats (optional for client-side actions)
        }
    </script>
</body>
</html>